.side-bar {
    height: 100%;
    width: 50px;
    background-color: #8F3F3F;
    position: absolute;
}

.logo-icon {
    max-width: 35px;
    max-height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0.75vh;
    position: relative;
}

.side-bar-list {
    height: auto;
    width: 100%;
    top: 34%;
    padding-left: 0;
    position: relative;
}

.side-bar-list .row {
    height: 50px;
    width: 100%;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar-list .row:hover {
    cursor: pointer;
    background-color: maroon;
}